<html>
<body>

<h2 style="center">F1-fantasy-combinator</h2>

<style>
  .myDiv {
    background-color: white;
    text-align: center;
  }
  </style>

<div class="myDiv">
  <form action="/combos", method="post">
    <label for="fname">Cost:</label><br>
    <input type="text" id="cost" name="cost" value=100><br>
    <!-- <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value="Doe">-->
    <br><br>
    <input type="submit" value="Submit">
  </form> 
</div>
</body>
</html>