<html>
<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#select_all_include").click(function(){
    $(".include_driver_checkbox:checkbox").prop("checked", true);
  });
  
   $("#reset_all_include").click(function(){
    $(".include_driver_checkbox:checkbox").prop("checked", false);
  });
  
    $("#select_all_exclude").click(function(){
    $(".exclude_driver_checkbox:checkbox").prop("checked", true);
  });
  
   $("#reset_all_exclude").click(function(){
    $(".exclude_driver_checkbox:checkbox").prop("checked", false);
  });
  
  
});
</script>
</head>

<body>

<h2 style="text-align: center;">F1-fantasy-combinator-2022</h2>

<style>
  .myDiv {
    background-color: white;
    text-align: center;
  }
  
  .exclude_drivers{
  border-style: dotted;
  }
  
   .include_drivers{
  border-style: dotted;
  }
  
  .center {
  margin-left: auto;
  margin-right: auto;
}
  
  </style>

<div class="myDiv">
  <form action="/combos", method="post">
  
    <a href="/view_cost"> Update the cost </a> <br><br>
 
    <label for="fname">Cost:</label><br>
    <input type="text" id="cost" name="cost" value=100><br>
    <br>
    <div class = "myDiv">
     <label> <b> Include the following drivers</b></label>
    <br>
        <table class= "center">
        <tr>
             <td><input class="include_driver_checkbox" type="checkbox" id="driver8" name="include" value="ham"></td>
             <td> Lewis Hamilton </td>
        </tr>
        
        <tr>
             <td><input class="include_driver_checkbox" type="checkbox" id="driver9" name="include" value="ver"></td>
             <td>Max Verstappen</td>
        </tr>
        
        <tr>
             <td><input type="checkbox" class="include_driver_checkbox" id="driver10" name="include" value="per"></td>
             <td>Perez</td>
        </tr>
        
        <tr>
             <td><input class="include_driver_checkbox" type="checkbox" id="driver11" name="include" value="nor"></td>
             <td>Lando Norris</td>
        </tr>
        
        <tr>
             <td><input type="checkbox" class="include_driver_checkbox" id="driver12" name="include" value="rus"></td>
             <td>George Russell</td>
        </tr>
        
         <tr>
             <td><input type="checkbox" class="include_driver_checkbox" id="driver13" name="include" value="lec"></td>
             <td>Charles Leclerc</td>
        </tr>
        
         <tr>
             <td><input type="checkbox" class="include_driver_checkbox" id="driver14" name="include" value="sai"></td>
             <td>C Sainz</td>
        </tr>
        
       
        
        </table>
        <br>
          <label for="cars"><b>Fix the team: </b></label>
          <select name="include_team" id="include_team">
            <option value="">Any</option>
            <option value="redbull">Redbull</option>
            <option value="ferrari">Ferrari</option>
            <option value="mercedes">Mercedes</option>
            <option value="mclaren">Mclaren</option>
          </select> 
          <br><br>
              
    <button id="select_all_include" type="button">Select All</button>
    
    <button id="reset_all_include" type="button">Reset</button><br><br>
 
    </div>
       
    <div class="myDiv">
    <label> <b> Exclude the following drivers</b></label>
    <br>
    
    <table class= "center">
        <tr>
             <td><input class="exclude_driver_checkbox" type="checkbox" id="driver_checkbox1" name="exclude" value="mag"></td>
             <td> K Mag </td>
        </tr>
        
        <tr>
             <td><input class="exclude_driver_checkbox" type="checkbox" id="driver_checkbox2" name="exclude" value="alb"></td>
             <td>Alex Albon</td>
        </tr>
        
        <tr>
             <td><input class="exclude_driver_checkbox" type="checkbox" id="driver_checkbox3" name="exclude" value="zh"></td>
             <td>Zhou</td>
        </tr>
        
        <tr>
             <td><input class="exclude_driver_checkbox" type="checkbox" id="driver_checkbox4" name="exclude" value="sch"></td>
             <td>Schaumacher</td>
        </tr>
        
        <tr>
             <td><input class="exclude_driver_checkbox" type="checkbox" id="driver_checkbox7" name="exclude" value="lat"></td>
             <td>Latifi</td>
        </tr>
        
        <tr>
             <td><input class="exclude_driver_checkbox" type="checkbox" id="driver_checkbox8" name="exclude" value="str"></td>
             <td>Stroll</td>
        </tr>
        
        <tr>
             <td><input class="exclude_driver_checkbox" type="checkbox" id="driver_checkbox5" name="exclude" value="tsu"></td>
             <td>Tsunoda</td>
        </tr>
                
    </table>
    </div>
    
    <button id="select_all_exclude" type="button">Select All</button>
    
    <button id="reset_all_exclude" type="button">Reset</button><br><br>
  
    <input type="submit" value="Show all Combinations">
  </form> 
</div>
</body>
</html>